* {
  margin: 0;
  padding: 0;
  cursor: none;
}

#div {
  position: absolute;
  cursor: none;

  z-index: 50;
}
#div img {
  width: 30px;
  height: 30px;
}
.background {
  background-color: #faebd7;
  z-index: 2;
  position: absolute;
  width: 100%;
  height: 100%;
}
#main {
  text-align: center;
}

#my_hand {
  margin: 20px 2.5% 20px 2.5%;
  width: 95%;
  height: 250px;
  background-color: green;
  border-radius: 10px;
}

#imgwrap {
  text-align: center;
  margin: 0 auto;
}
.img {
  margin-top: 20px;
  width: 18%;
  max-width: 140px;
  padding-left: 10px;
  float: left;
  display: flex;
}
#imgResult {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#my_hand,
#btnDeal,
#btnHit,
#btnStick {
  display: none;
}

.red {
  color: red;
}
.blue {
  color: blue;
}

button {
  position: absolute;
  z-index: 3;
  width: 200px;
  height: 50px;
}
.start {
  top: 330px;
  left: 50px;
}
.stop {
  top: 400px;
  left: 50px;
}
.again {
  top: 470px;
  left: 50px;
}
