
#main{
    text-align: center
}

#my_hand{
    border: 5px solid red;
    height: 250px;
    width: 850px;
    display: flex;
    margin: 0 auto;

}
#my_hand .imgWrap{
    display: flex;
}

#imgResult{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#my_hand,#btnDeal,#btnHit,#btnStick{
    display: none;
}

.red{
    color: red;
}
.blue{
    color: blue;
}